*{
    padding: 0;
    margin: 0;
}

html{
    background: black;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    color: #faf4f4f4;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #faf4f4f4;
    font-size: 3.125rem;
    font-family: 'Courier New', Courier, monospace;
}

span::before{
    content: '';
    font-family: 'Courier New', Courier, monospace;
    color: #faf4f4f4;
    animation: text-anime 4s infinite;
}

@keyframes text-anime{
    0%{
        content: 'Codar💻';
    }
    50%{
        content: 'Tomar café ☕'
    }
    100%{
        content: 'Estudar 📚'
    }
}