*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #0e1538;
    gap: 200px;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    background: #0e1538;
}
.box::before{
    content: '';
    position: absolute;
    inset:-3px;
    background: linear-gradient(45deg, yellow, #0e1538, #0e1538, aqua);
    box-shadow: 0 0 0 5px #070c23;
    z-index: -1;
}
.box::after{
    content: '';
    position: absolute;
    inset:-3px;
    background: linear-gradient(45deg, yellow, #0e1538, #0e1538, aqua);
    z-index: -1;
    filter:blur(20px)
}

.box:hover::after{
    transform: rotate(180deg);
}
.box:hover::before{
    transform: rotate(180deg);
}

.box:nth-child(2)::before,
.box:nth-child(2)::after{
    background: linear-gradient(45deg, blue, #0e1538, #0e1538, red);
}
